input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
	-moz-box-sizing: border-box;
}

fieldset legend,
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
	-moz-box-sizing: border-box;
}

section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button {
	padding: 0 0 0 1rem;
	min-width: 4.5rem;
}

section[role="region"] > header:first-child h1 {
	padding: 0 4.5rem 0 0;
}

.gaia-list li {
	padding: 10px 15px 10px 0;
}

/*form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  display:none;
  opacity: 0;
  pointer-events: all;
}

form p input:focus + button[type="reset"],
form p textarea:focus + button[type="reset"] {
  opacity: 1;
  pointer-events: all;
  display:block;
}*/

a {
	color:#2d4f7a;
}